# Auto detect text files and perform LF normalization
* text=auto

# Known text files
*.java text
*.properties text
*.xml text
*.yml text
*.md text
*.sh text
*.css text
*.txt text
*.nojekyll text

# Known binary files
*.jar binary
*.png binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
